*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(img/MicrosoftTeams-image.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #009c6be3;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #009c6be3;
    background: #009c6be3;
    transition: 0.8s;
}
  
  .Butch1{
    width: 150px;
    border-radius: 50%;
    margin: 5% 0px 0px 700px;
    display: flex;
    justify-content: space-between;
    
  }
  .Javon1{
    width: 150px;
    border-radius: 50%;
    margin: 5% 0px 0px 700px;
    display: flex;
    justify-content: space-between;
  }

  .Butch{
    color: white;
    margin: 0 0 0 700px;
    
  }
  .Javon{
    color: white;
    margin: 0 0 0 700px;
  }
  
.DivButch{
    display: flex;
    justify-content: center;
    height: 80vh;
    gap: 10rem;
}
.DivButchIMG{
    display: flex;
    justify-content: center;
    align-items: center;
}

.DivButchList{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}

.DivJavon{
    display: flex;
    justify-content: center;
    height: 80vh;
    gap: 10rem;
}
.DivJavonIMG{
    display: flex;
    justify-content: center;
    align-items: center;
}

.DivJavonList{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}
